<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExCSS" version="4.1.4" targetFramework="net472" />
  <package id="Fizzler" version="1.2.1" targetFramework="net472" />
  <package id="HarfBuzzSharp" version="7.3.0" targetFramework="net472" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="7.3.0" targetFramework="net472" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="7.3.0" targetFramework="net472" />
  <package id="ShimSkiaSharp" version="0.5.18" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net472" />
  <package id="SkiaSharp.Extended" version="1.60.0" targetFramework="net472" />
  <package id="SkiaSharp.HarfBuzz" version="2.88.6" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net472" />
  <package id="SkiaSharp.Skottie" version="2.88.6" targetFramework="net472" />
  <package id="Svg.Custom" version="0.5.18" targetFramework="net472" />
  <package id="Svg.Model" version="0.5.18" targetFramework="net472" />
  <package id="Svg.Skia" version="0.5.18" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>