.vs/
.idea/
*.bak
*.cache
*.suo
*.user
Gum/objNetFramework/
GumCoreShared.shproj.user
GumDataTypes/objNetFramework/
packages/
Samples/MonoGameGumFontLoading/MonoGameGumFontLoading/.config/*
Samples/MonoGameGumImmediateMode/MonoGameGumImmediateMode/.config/*
[Bb]in/
[Oo]bj/
Samples/GumFormsSample/MonoGameGumFormsSample/Content/FormsGumProject/EventExport/gum_events.json
Samples/GameUiSamples/Content/GumProject/EventExport/gum_events.json
GumFormsPlugin/Content/FormsGumProject/EventExport/gum_events.json

# SonarQube and SonarScanner excludes
.sonarqube/
coverage.xml
/Tests/CodeGen_MonoGame_ByReference/CodeGenProject/.config
/Tests/CodeGen_MonoGame_ByReference/CodeGenProject/.vscode
