ContentLibrary/obj/
GumDataTypes/obj/
GumRuntime/obj/
InputLibrary/obj/
RenderingLibrary/obj/
ToolsUtilities/obj/
XnaAndWinforms/obj/
CommonFormsAndControls/bin/
StateAnimationPlugin/obj/
StateAnimationPlugin/bin/
PerformanceMeasurementPlugin/obj/
PerformanceMeasurementPlugin/bin/
RenderingLibrary/bin/
GumRuntime/bin/
WpfDataUi/bin/
InputLibrary/bin/
ToolsUtilities/bin/
EventOutputPlugin/bin/
GumUnitTests/obj/
WpfDataUi/obj/
Gum/obj/
Gum/bin/
GumDataTypes/bin/
*.suo
CsvLibrary/obj/
CommonFormsAndControls/obj/
ContentLibrary/bin/
XnaAndWinforms/bin/
CsvLibrary/bin/
*.cache
WpfDataUi/SampleProject/SampleProject/bin/Debug/WpfDataUi.pdb
WpfDataUi/SampleProject/SampleProject/bin/
WpfDataUi/SampleProject/SampleProject/obj/
.vs/
GumCore/GumCoreXnaPc/bin/
GumCore/GumCoreXnaPc/obj/
*.bak
GumCore/GumCoreXnaPc/GumCoreUwp/obj/
GumCore/GumCoreXnaPc/GumCoreUwp/bin/Debug/
GumCore/GumCoreXnaPc/GumCoreUwp/bin/
*.user
GluePlugin/obj/
GluePlugin/bin/Debug/Plugins/readme.txt
GluePlugin/bin/
TextureCoordinateSelectionPlugin/obj/
TextureCoordinateSelectionPlugin/bin/
FlatRedBall.SpecializedXnaControls/obj/
FlatRedBall.SpecializedXnaControls/bin/
packages/
Gum/objNetFramework/
GumDataTypes/objNetFramework/
SvgPlugin/bin/
SvgPlugin/obj/
CodeOutputPlugin/bin/
CodeOutputPlugin/obj/
GumCoreShared.shproj.user
EventOutputPlugin/obj/
SkiaGum/bin/
SkiaGum/obj/
SkiaGum.Wpf/bin/
SkiaGum.Wpf/obj/
SkiaGum.XamarinForms/bin/
SkiaGum.XamarinForms/obj/
